<!doctype html>
<head>
	<title>restaurants</title>
</head>
<body>
<h1>Restaurants</h1>
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
<ul>
<% @restaurants.each do |restaurant| %>
	<li><%= link_to(restaurant.name, restaurant) %></li>
<% end %>
</ul>

<%= link_to("Add Restaurant", new_restaurant_path) %>
</body>
</html>